body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Press Start 2P', cursive;

    @media(max-width: 800px) {
        justify-content: initial;
        align-items: initial;
    }

    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        margin-bottom: 50px;

        @media(max-width: 800px) {
            margin: 50px 0;
        }

        h1 {
            border: 3px #141414 solid;
            padding: 15px 25px;
            text-align: center;

            @media(max-width: 800px) {
                font-size: 20px;
            }
        }

        #start {
            display: flex;
            justify-content: center;

            #startGame {
                position: absolute;
                top: 70%;

                @media(max-width: 800px) {
                    font-size: 15px;
                    top: 50%;
                }
            }
        }
    }

    main {
        .row {
            border: 3px solid #000;
            height: 100px;
            width: 300px;
            margin: -3px auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            &:nth-child(3) {
                border-top: 0;
            }
        }

        .cell {
            border-left: 3px solid #000;
            border-right: 3px solid #000;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            margin: -1px;
            // cursor: pointer;
        }
    }

    .congrats {
        font-size: 25px;
        text-align: center;
        margin: 25px auto;
        min-height: 50px;

        @media(max-width: 800px) {
            font-size: 15px;
            max-width: 300px;
        }

        .nes-icon {
            vertical-align: sub;
        }
    }

    #restart {
        @media(max-width: 800px) {
            font-size: 15px;
            margin: 0 auto;
        }
    }

    .share-twitter {
        position: absolute;
        right: 50px;
        bottom: 50px;

        a {
            background-color: rgb(224, 241, 255);
            padding: 20px 10px;
            border-radius: 10px;
            font-size: 12px;

            &:hover {
                text-decoration: none;
            }
        }

        .nes-icon {
            vertical-align: super;
            margin: 0 10px 2px 0;
        }
    }
}